* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #000;
}
canvas {
    background: #000;
    border: 1px dotted #ccc;
    display: block;
    margin: 0 auto;
    padding: 2px;
}
h1 {
    text-align: center;
    font-family: 'Amatic SC', arial;
    font-size: 4em;
    color: #ff3399;
}
